*{ 
	font-family: Helvetica, sans-serif;
	color: black;
}

#current{
  color: gray;
}

nav{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: .5em;
  background-color: #ffcccb;
}

nav a, nav a:link,nav a:visited{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: red;
  text-decoration: underline;
}

nav a:active{
  color: blue;
  text-decoration: underline;
}

a:hover{
  color: red;
  text-decoration: underline;
}

a:active{
  color: blue;
  text-decoration: underline;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
}

th {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

footer{
	font-style: italic;
	padding-top: 1em;
}